.crops-conatiner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.crops-content{
     width: 80%;
     height: 100%;
     display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.crops-content .dashboard-content-heading p{
    color: black;
}

.crops-content-details{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}
.crops-category-input{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crops-category-input form{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.crops-category-input form input{
    width: 80%;
    height: 80%;
    padding: 10px;
    outline: none;
    border: 1px solid skyblue;
    border-radius: 5px;
}

.cropcard-container{
    width: 95%;
    height: 20%;
    background-image: linear-gradient(to right, #a8c0ff, #3f2b96);
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    border-radius: 10px;
}
.crop-name , .crop-category , .crop-price{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.crop-name , .crop-category , .crop-price p{
    font-size: 12px;
    text-align: center;
}
.cropcard-container button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #5cb85c;
    color: white;
   text-transform: uppercase;
   border-radius: 5px;
   font-size: 10px;
}
.cropcard-container button:hover{
    background-color: #5dbc5d;
    cursor: pointer;
}
.CropMore-details{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 5%;
}
.cropdetail-heading{
    width: 90%;
    height: 10%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cropdetail-heading button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #5cb85c;
    color: white;
   text-transform: uppercase;
   border-radius: 5px;
   font-size: 10px;
}
.cropdetail-heading button:hover{
    background-color: #5dbc5d;
    cursor: pointer;
}
.cropdetail-heading h1{
    margin: 1%;
    text-decoration: underline;
    color: rgb(255, 0, 0);
}
.cropdetail-content{
    width: 90%;
    height: 60%;
}
.cropdetail-content p{
    color: black;
    font-size: 11px;
}
.back-button{
    width: 86%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.back-button button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #5cb85c;
    color: white;
   text-transform: uppercase;
   border-radius: 5px;
   font-size: 10px;
}
.back-button button:hover{
    background-color: #5dbc5d;
    cursor: pointer;
}